{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:100px;">

  <nav aria-label="breadcrumb" class="col-lg-12" style="padding:0;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Animal</li>
    </ol>
  </nav>


  <h1>Edit Animal</h1>
  <hr/>
  <div class="row">
    <form class="form" method="POST">
        {{ form.hidden_tag() }}

        <p>
          {{ form.name.label }}
          {{ form.name(size=20,class_="form-control",required=true) }}
        </p>

        <p>
          {{ form.type.label }}
          {{ form.type(size=20,class_="form-control",required=true) }}
        </p>

        <p>
          {{ form.description.label }}
          {{ form.description(class_="form-control",required=true) }}
        </p>

        <p>
          {{ form.image_url.label }}
          {{ form.image_url(class_="form-control",required=true) }}
        </p>

        {{ form.submit(class_="btn btn-success",required=true) }}
    </form>
  </div>
</div>

{% endblock %}
